body {
  font-family: 'Noto Sans', sans-serif;
}

.isPurple{
  /* color: #997DFF; */
  background: linear-gradient(45deg, #997DFF, #6148bc);
  /* 渐变从红色到蓝色 */
  background: linear-gradient(45deg, #997DFF, #6148bc);
  -webkit-background-clip: text;
  /* 适用于Webkit浏览器 */
  background-clip: text;
  /* 适用于非webkit浏览器 */
  color: transparent;
  /* 渐变可见的关键 */
  -webkit-text-fill-color: transparent;
  /* Webkit浏览器 */
}
/* mainboy */
.main-Body .item{
  margin-bottom: 80px;
}
/* 视频 */
.generated-Videos .item-video h4{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



